.secondColumn .thirdColumn .fifthColumn .sixColumn {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.firstRow .secondColumn .firstColumn .fourthColumn {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

hr {
    position: relative;
    top: none;
    height: 0.01vw;
    background: black;
    margin-bottom: 1vw;
}
